@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#home {
  background-image: url("../Images/Background.webp");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(109, 108, 108); /* Tint color */
  background-blend-mode: multiply;
  opacity: 0.9;
}

.onHome {
  background-color: rgb(238, 238, 238);
}

.onHome .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(33, 37, 41, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  border-color: rgba(33, 37, 41, 1);
}

.onHome a {
  color: black;
}

.onHome .active {
  color: #e31b6d;
}

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}
.navbar-nav li {
  padding: 5px 25px;
  font-size: large;
}
nav {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
/* 
nav::after {
  content: "";
  height: 3px;
  width: 100%;
  background-color: #09d3db;
  position: absolute;
  bottom: 0;
  display: block;
} */

.nav-link:hover {
  text-decoration: none;
  color: #e31b6d;
}

.title {
  /* padding: 10px; */
  transform: translateX(-50%);
  opacity: 0;
  margin-bottom: 5px;
  color: #e31b6d;
}

.title.title-appear {
  transform: translateX(0);
  opacity: 1;
  transition: 700ms ease-in;
}

.dpimage {
  border-radius: 50%;
  width: auto;
  height: 400px;
}

.intro {
  margin: 250px 0;
  color: white;
}

.intro button {
  height: 50px;
  width: 170px;
  background-color: transparent;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
  transition: ease-in-out 500ms;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.intro button:hover {
  background-color: white;
  color: black;
}

.intro button:hover i {
  transform: rotate(90deg);
}

.intro button h6 {
  margin-right: 10px;
  margin-top: 4px;
  float: left;
  font-family: "Montserrat";
}

.intro button i {
  padding-top: 5px;
  float: right;
  transition: transform ease-in-out 400ms;
}

.section {
  padding-top: 5%;
}

.aboutme-card {
  margin-top: 20px;
  /* padding: 20px 30px 0 0; */
  padding-bottom: 15px;
  background-color: #fdfdfdd7;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.aboutimg {
  margin-top: 4%;
  /* position: relative; */
  height: 315px;
  padding: 10px;
  border-radius: 20px;
  /* border: 2px solid black; */
}

.margin5 {
  margin-top: 5%;
}

.margin10 {
  margin-top: 10%;
}

.skillbox {
  display: flex;
  padding: 25px;
  align-items: center;
  width: 250px;
  height: 70px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 25px;
  color: aliceblue;
  background-color: #212529;
}

.row .col-md-3:last-child {
  margin-bottom: 5px;
}

.timeline-container {
  /* min-height: 100vh; */
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
  font-family: "Montserrat";
}

.timeline {
  width: 80%;
  height: auto;
  /* max-width: 1000px; */
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color: #1e1f22;
  color: white;
  /* border-radius: 10px; */
  margin-bottom: 10px;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h2 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
  color: #09d3db;
}
.timeline-content h6 {
  font-family: "Montserrat";
  color: #e31b6d;
}
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  margin: 0;
}
.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 51.2%;
    /* transform: translateX(-50%); */
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 0px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
    color: black;
    font-weight: 900;
  }
  .timeline ul li:hover::before {
    background-color: #09d3db;
  }
  /* .title::after {
    display: block;
    width: 8%;
    height: 3px;
    left: 46%;
    margin-top: 5px;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #212529;
    content: "";
  } */

  .title-underline.title-appear {
    transform: translateX(0);
    opacity: 1;
    transition: 500ms ease-in 500ms;
  }

  .title-underline {
    width: 8%;
    height: 3px;
    background-color: #e31b6d;
    position: relative;
    left: 46%;
    opacity: 0;
    transform: translateX(-500px);
    margin: 0;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    /* left: 51.8%; */
    /* transform: translateX(-50%); */
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .timeline ul li {
    /* width: 50%; */
    position: relative;
    /* margin-bottom: 50px; */
  }
  .timeline ul li {
    float: left;
    clear: right;
    /* transform: translateX(-30px); */
    border-radius: 0px 20px 20px 20px;
  }
  .timeline-content .date {
    color: white;
  }

  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline ul li::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline ul li:hover::before {
    background-color: #09d3db;
  }

  .card:last-child {
    margin-bottom: 15px;
  }

  .section {
    padding-top: 15%;
  }
  /* .title::after {
    display: block;
    width: 30%;
    height: 3px;
    left: 35%;
    margin-top: 5px;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #212529;
    content: "";
  } */

  .title-underline.title-appear {
    transform: translateX(0);
    opacity: 1;
    transition: 500ms ease-in 500ms;
  }

  .title-underline {
    width: 20%;
    height: 3px;
    background-color: #e31b6d;
    position: relative;
    left: 40%;
    opacity: 0;
    transform: translateX(-100px);
    margin: 0;
    margin-bottom: 10px;
  }
  #home {
    background-position: 50%;
  }
}

.card {
  /* margin: 20px; */
  width: 18rem;
  height: 20rem;
  justify-content: center;
  padding: 0px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  transition: ease-in-out 400ms;
  border-radius: 10px;
}

.card:hover {
  background-color: #212529ab;
}

.card div {
  position: relative;
  bottom: 100px;
  opacity: 0;
  transform: scale(0);
  transition: opacity ease-in-out 400ms, transform ease-in-out 400ms;
}

.card div i:hover {
  color: #e31b6d;
}

.card i {
  color: white;
}

.card:hover div {
  opacity: 1;
  transform: scale(1);
}

.card img {
  opacity: 1;
  transition: opacity ease-in-out 400ms;
}

.card:hover img {
  opacity: 0.2;
}

.card:hover p {
  color: #09d3db;
  transition: 0.4s ease-in-out;
}

.card-img-top {
  width: 14rem;
  height: 14rem;
  transform: translate(14%, 10%);
}

.card div a {
  text-decoration: none;
}

.card i {
  padding: 0px 10px;
}

.award-card {
  background-color: #212529;
  width: 320px;
  height: 220px;
  margin-left: 10px;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: 500;
  font-family: "Montserrat";
  color: white;
  margin-bottom: 20px;
  transition: 600ms ease-in-out;
  opacity: 0;
  transform: translateY(100%);
}

.award-card .card-content {
  opacity: 0;
  transform: rotateY(180deg);
  display: block;
}

.award-card:hover .card-content {
  opacity: 1;
  transition: 500ms ease-in;
}

.award-card.appear {
  opacity: 1;
  transform: translateY(0);
}

.award-card div {
  transform: translateY(100%);
}

.award-card:hover {
  transform: rotateY(180deg);
}

.award-card:hover div {
  opacity: 0;
}

.award-card div h5 {
  margin-top: 10px;
  opacity: 1;
  transition: 0.4s ease-in-out;
}

.footer {
  background-color: #212529;
  color: white;
}

.linkedin {
  color: #0e76a8;
}

.location {
  color: darkgray;
}

.activities p {
  font-family: "Montserrat";
  font-size: 15px;
}
.activity{
  margin-top: 15px;
  padding: 10px;
}
.activity:hover{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.card-header {
  font-family: "Montserrat";
}

.montserrat {
  font-family: "Montserrat";
}

.playfair {
  font-family: "Work Sans", sans-serif;
}
.raleway {
  font-family: "Raleway", sans-serif;
}

.navbar-dark .navbar-nav .nav-item .active {
  color: #e31b6d;
}

.fade-in {
  opacity: 0;
  transform: scale(0);
  transition: 1000ms ease-in-out;
}

.fade-in.appear {
  transform: scale(1);
  opacity: 1;
}
